# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
venv/

# Docker
*.log
*.pid
*.tar
*.env
.env.*

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
